*{ margin:0;

    padding:0;

}

a{

    text-decoration: none;

}
#wrap{

    width: 100%;

    /*height: 40px;*/

    /*margin-top: 120px;*/

    background: #01204f;

}

#wrap nav{

    width: 980px;

    height: 40px;

    margin: 0 auto;

    position: relative;

}

#wrap ul{

    position: relative;

    z-index: 1;

}

#wrap ul>li{

    list-style: none;

    float: left;

    height: 40px;

    line-height: 40px;

    padding: 0 10px;

}

#wrap ul>li#active{

    background: #e60023;

}

#wrap ul>li>a{

    color: #fff;

    font-family: '微软雅黑';

    font-weight: 700;

    font-size: 14px;

    display: block;

    text-align: center;

}

#move{

    background: #EA0C3C;

    height: 40px;

    position: absolute;

    transition: left 0.3s linear;

}




.a1{float:right;
    font-family: '微软雅黑';
    color: #808080;
    font-weight: 700;
    font-size: 14px;
    display: block;
}


.a1 ul>li{

    color: #999aaa;



}